/* ecb2 module.css - v1.2
 - v1.2 - 20Apr22 - renamed, added ecb_rule, file_selector_preview
 - v1.1 - 16Feb19 - ecb_repeater added & began consolidating CSS into this file
 - v1.0 - 18Apr17 - initial css file
*/
.ecb2-sortable-list {padding:4px 4px 0 4px;}
.ecb2-sortable-list > li {margin-bottom:4px;list-style:none;}

#loader {padding-left:3rem;}
.file_selector_preview {max-width:8rem;}

.ecb2-button-inline {padding-right:10px; padding-left:10px; font-size:1.25em; font-weight:bold;}

.ecb_rule {display:block; border:0 none; background:#ccc;}

.ecb_repeater .repeater-wrapper {width:100%;}
.ecb_repeater .repeater-wrapper:first-child .ecb2-repeater-remove {display:none;}
.ecb_repeater .repeater-field {max-width:calc(100% - 6em);}

.ecb_compact select {display:inline-block; max-height:80vh;}
.ecb_compact:not(.show) select {display:none;}

.ecb_compact span#showtext {display:none;}
.ecb_compact:not(.show) span#showtext {display:inline-block;}
.ecb_compact span#hidetext {display:inline-block;}
.ecb_compact:not(.show) span#hidetext {display:none;}
